@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

h1{
    color:#fff;
    text-align: center;
    font-family: 'bangers', bold;
    font-size: 35px;
    text-shadow: 5px 3px 8px #000;
}

h2{
    color:#fff;
    text-align: center;
    font-family: 'bangers', monospace;
    font-size: 22px;
    text-shadow: 5px 3px 8px #000;
}

h3{
    font-family: 'bangers', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

h4{
    text-align: center;
    font-family: 'bangers', didot;
    font-size: 22px;
}

h5{
    margin-left: 20px;
}

p{
    text-align: center;
    font-size: 12px;
}

/*img{
    margin:0 auto;
    display: block;
    height: 90px;
}*/

#lbl1 {
    top:33px;
    left:30px;
}

.btnLogin {
    text-align: center;
    background-color: #B91116; /* Color de fondo para el botón primario */
    color: #fff; /* Color de texto para el botón primario */
    border: none; /* Quitar borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.btnLogin:hover {
    text-align: center;
    background-color: #f39200;
    color: #511013;
    border: none; /* Quitar borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.btnAdd {
    text-align: center;
    color: #fff;
    background-color: #e40ea4;
    padding: 10px;
}

.btnCancel {
    text-align: center; /* Alinear contenido al centro*/
    background-color: #575756; /* Color de fondo para el botón primario */
    color: #fff; /* Color de texto para el botón primario */
    border: none; /* Quitar borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
}

.btnSave {
    text-align: center; /* Alinear contenido al centro*/
    background-color: #b91116; /* Color de fondo para el botón primario */
    color: #fff; /* Color de texto para el botón primario */
    border: none; /* Quitar borde */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
}

.btUpdate {
    background-color: #9d9d9c; /* Color de fondo para el botón primario */
    color: #fff; /* Color de texto para el botón primario */
    border: none; /* Quitar borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.btDelete {
    background-color: #f39200; /* Color de fondo para el botón secundario */
    color: #fff; /* Color de texto para el botón secundario */
    border: none; /* Quitar borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
}

.modal-header {
    background-color: #b91116; /* Azul brillante */
    color: #ffffff; /* Color de texto blanco */
}

.modal-footer {
    background-color: #b91116; /* Azul brillante */
    color: #ffffff; /* Color de texto blanco */    
}

.mi-clase-boton {
    background-color: red; /* Cambia el color de fondo del botón */
    color: black; /* Cambia el color del texto del botón */
}

header {
    background-color: #800101; /* Color de fondo opcional */
    text-align: center; /* Centrar la imagen */
}

header img {
    max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
}

footer {
    max-width: 100%;
    background: #575756;
    padding: 10px;
    height: 100%;
    text-align: center;
    color: #fff;   
}